<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'WWN.items.Price'}}"><i class="fas
                fa-circle"></i></label>
            <div class="form-fields">
              <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Weight'}}"><i class="fas
                fa-weight-hanging"></i></label>
            <div class="form-fields">
              <input type="number" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
      <ol class="tag-list">
        {{#each data.tags as |tag|}}
        <li class="tag" title="{{getTagDesc tag.value}}" data-tag="{{tag.value}}">
          <span>{{tag.value}}</span>
          <a class="tag-delete"><i class="fas fa-times"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <div class="form-group">
          <div class="form-fields">
            <input type="text" data-action="add-tag" title="{{localize 'WWN.items.typeTag'}}"
              placeholder="{{localize 'WWN.items.enterTag'}}" />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'WWN.items.Damage'}}</label>
          <div class="form-fields">
            <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'WWN.items.Shock'}}</label>
          <div class="form-fields">
            <input type="number" name="data.shock.damage" value="{{data.shock.damage}}" data-dtype="String" 
            placeholder="{{localize 'WWN.items.Damage'}}" title="{{localize 'WWN.items.ShockDamage'}}" />
            <input type="number" name="data.shock.ac" value="{{data.shock.ac}}" data-dtype="String"
            placeholder="{{localize 'WWN.items.ArmorAC'}}" title="{{localize 'WWN.items.ShockAC'}}" />
          </div>
        </div>
        <div class="form-group">
          <label title="{{localize 'WWN.items.AtkBonus'}}">{{localize
            'WWN.items.Bonus'}}</label>
          <div class="form-fields">
            <input type="number" name="data.bonus" value="{{data.bonus}}" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group attack-type">
          <a title="{{localize 'WWN.items.Melee'}}" class="melee-toggle {{#if
            data.melee}}active{{/if}}"><i class="fas fa-fist-raised"></i></a>
          <a title="{{localize 'WWN.items.Missile'}}" class="missile-toggle
            {{#if data.missile}}active{{/if}}"><i class="fas fa-bullseye"></i></a>
        </div>
        {{#if data.missile}}
        <div class="form-group block-input">
          <label>{{localize 'WWN.items.Range'}}</label>
          <div class="form-fields range">
            <input type="number" name="data.range.short" value="{{data.range.short}}" data-dtype="Number" />
            <div class="sep"></div>
            <input type="number" name="data.range.long" value="{{data.range.long}}" data-dtype="Number" />
          </div>
        </div>
        {{/if}}
        <div class="form-group block-input">
          
          <label title={{localize 'WWN.attribute'}}>{{localize 'WWN.attribute'}}</label>
          <div class="form-fields">
            <select name="data.score">
              {{#select data.score}}
              {{#each config.scores as |stat a|}}
              <option value="{{a}}">{{stat}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="form-group block-input">
            <label title={{localize 'WWN.skill'}}>{{localize 'WWN.skill'}}</label>
            <div class="form-fields">
              <select name="data.skill">
                {{#select data.skill}}
                {{#each config.attackSkills as |stat a|}}
                <option value="{{a}}">{{stat}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.SkillDamageLong'}}">{{localize 'WWN.items.SkillDamageShort'}}</label>
            <div class="form-fields">
              <input type="checkbox" name="data.skillDamage" value="{{data.skillDamage}}" {{checked data.skillDamage}}  data-dtype="Boolean" title="{{localize 'WWN.items.SkillDamageLong'}}" />
            </div>
          </div>
          <div class="form-group block-input">
            <label title={{localize 'WWN.spells.Save'}}>{{localize 'WWN.spells.Save'}}</label>
            <div class=form-fields>
              <select name="data.save">
                {{#select data.save}}
                <option value=""></option>
                {{#each config.saves as |save a|}}
                <option value="{{a}}">{{save}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="description weapon-editor">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>